<h2>Some Icon in Material Angular</h2>
<mat-grid-list class="background-color" cols="10" rowHeight="2:1">
    <mat-grid-tile>
        <mat-icon>backup</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>bar_chart</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>bubble_chart</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>accessibility</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>accessibility_new</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>accessible</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>assignment_late</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>assignment_return</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>assignment_ind</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>assignment</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>assessment</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>aspect_ratio</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>account_box</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>account_balance_wallet</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>account_balance</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>account_balance</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>build</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>bookmark</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>book</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>backup</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>autorenew</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>assignment_turned_in</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>assignment_returned</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>card_giftcard</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>camera_enhance</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>autorenew</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>calendar_view_day</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>calendar_today</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>cached</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>bug_report</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon>bookmark_border</mat-icon>
    </mat-grid-tile>
</mat-grid-list>