<div class="container-fluid">

    <div class="m-2">
        <button class="btn btn-primary m-2" (click)="currentSelected = 'autocomplete'">Autocomplete</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'badge'">Badge</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'bottom-sheet'">Bottom Sheet</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'button'">Button</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'button-toggle'">Button Toggle</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'card'">Card</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'checkbox'">CheckBox</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'chips'">Chips</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'datepicker'">Datepicker</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'dialog'">Dialog</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'divider'">Divider</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'expansionPanel'">ExpansionPanel</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'formField'">Form Field</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'gridList'">Grid List</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'icon'">Show Icon</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'input'">Input</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'list'">List</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'menu'">Menu</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'paginator'">Paginator</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'progressBar'">Progress Bar</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'progressSpinner'">Progress Spinner</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'radioButton'">Radio Button</button>


    </div>


    <div>
        <ng-container *ngIf="currentSelected === 'autocomplete'">
            <app-autocomplete></app-autocomplete>
        </ng-container>


        <ng-container *ngIf="currentSelected === 'badge'">
            <app-badge></app-badge>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'bottom-sheet'">
            <app-bottom-sheet></app-bottom-sheet>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'button'">
            <app-button></app-button>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'button-toggle'">
            <app-button-toggle></app-button-toggle>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'card'">
            <app-card></app-card>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'checkbox'">
            <app-checkbox></app-checkbox>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'chips'">
            <app-chips></app-chips>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'datepicker'">
            <app-datepicker></app-datepicker>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'dialog'">
            <app-dialog></app-dialog>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'divider'">
            <app-divider></app-divider>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'expansionPanel'">
            <app-expansion-panel></app-expansion-panel>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'formField'">
            <app-form-field></app-form-field>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'gridList'">
            <app-grid-list></app-grid-list>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'icon'">
            <app-icon></app-icon>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'input'">
            <app-input></app-input>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'list'">
            <app-list></app-list>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'menu'">
            <app-menu></app-menu>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'paginator'">
            <app-paginator></app-paginator>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'progressBar'">
            <app-progress-bar></app-progress-bar>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'progressSpinner'">
            <app-progress-spinner></app-progress-spinner>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'radioButton'">
            <app-radio-button></app-radio-button>
        </ng-container>
    </div>
</div>

<router-outlet></router-outlet>