<div class="container-fluid">

    <div class="m-2">
        <button class="btn btn-primary m-2" (click)="currentSelected = 'autocomplete'">Autocomplete</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'badge'">Badge</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'bottom-sheet'">Bottom Sheet</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'button'">Button</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'button-toggle'">Button Toggle</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'card'">Card</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'checkbox'">CheckBox</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'chips'">Chips</button>
        <button class="btn btn-primary m-2" (click)="currentSelected = 'datepicker'">Datepicker</button>


    </div>


    <div>
        <ng-container *ngIf="currentSelected === 'autocomplete'">
            <app-autocomplete></app-autocomplete>
        </ng-container>


        <ng-container *ngIf="currentSelected === 'badge'">
            <app-badge></app-badge>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'bottom-sheet'">
            <app-bottom-sheet></app-bottom-sheet>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'button'">
            <app-button></app-button>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'button-toggle'">
            <app-button-toggle></app-button-toggle>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'card'">
            <app-card></app-card>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'checkbox'">
            <app-checkbox></app-checkbox>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'chips'">
            <app-chips></app-chips>
        </ng-container>

        <ng-container *ngIf="currentSelected === 'datepicker'">
            <app-datepicker></app-datepicker>
        </ng-container>
    </div>
</div>

<router-outlet></router-outlet>